# Do this in terminal:
# cp .env.example .env
# and then fill out API key fields in the created .env file

ALPACA_API_KEY=
ALPACA_SECRET_KEY=

# DO NOT FILL OUT IN THIS FILE. 
# Alpaca API keys are free, but its good habit to not leak your API keys :)